html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

div {
    width: 100%;
    padding: 100px;
}

.one {
    background: rgba(255, 0, 0, 0.904);
}

.two {
    background: rgba(4, 255, 0, 0.904);
}

.three {
    background: rgba(4, 0, 255, 0.893);
}